@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--weight); /* Make sure to replace --weight with a valid value */
    font-style: normal;
}

:root {
    --colorHeader: #FBFCFF;
}

* {
    user-select: none;
    font-family: montserrat;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FD;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header tr td {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header tr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 222, 222);
    padding: 0;
    margin: 0;
    height: 50px;
}

.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}



.date {
    display: flex;
    width: 100%;
    background-color: var(--colorHeader);
    justify-content: space-between;
    margin-bottom: 10px;
}

.titleDate {
    color: black;
    background-color: var(--colorHeader);
}

.title{
    position: absolute;
    z-index: 10;
}

table {
    table-layout: auto; /* Allow table to adjust width based on content */
    width: 100%; /* Optional: Set a specific width for the table */
}

tbody tr {
    display: flex;
    gap: 0px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    
}
tbody td {
    margin: 0;
    width: 90px;
    display: flex;
    border-collapse: collapse;
    border-right: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    aspect-ratio: 1/1;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap; /* Prevent text wrapping */
}

.headerDays td{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    gap: 0;
}

.caca{
    box-sizing: border-box;
width: 100%;
}

table {

    border-radius: 1rem;
    overflow: hidden;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.header td {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.otherMonth {
    background-color: #efefef;
    color: rgb(65, 65, 65);
    padding: .5rem;
    font-size: .85rem;
}

.month {
    color: rgb(0, 0, 0);
    padding: .5rem;
    font-size: .85rem;
    overflow: hidden;
    position: relative;
}

.containerDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 100%;
}

.addItem {
    display: flex;
    box-sizing: border-box;
    padding: .5rem;
    font-size: smaller;
    width: 100%;
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
    word-break: break-all;
    height: 100%;
    margin-top: 1rem;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons input {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--i);
    cursor: pointer;

}

.inputName{
    margin-top: 10px;
    border: transparent;
    border-bottom: 1px solid rgb(161, 161, 161); 
}

.inputName:focus{
    outline: none;
}

.date input {
    border-radius: 3rem;
    padding: .5rem;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    /* background-color: var(--colorHeader); */
}